.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.Header {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-decoration: none;
  list-style: none;
}


.Scroll::-webkit-scrollbar {
  display: none;
}

.GradientBottm {
  background-image: linear-gradient(180deg, #0f1014, #0f1014ae, transparent);
}
.GradientTop {
  background-image: 
    linear-gradient(0deg, #0f1014, #0f1014c0, #0f101475, #0f101431, transparent, transparent),
    linear-gradient(80deg, #0f1014, #0f1014ae, transparent, transparent, transparent);
}