.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.Header, li {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-decoration: none;
  list-style: none;
}


.Scroll::-webkit-scrollbar {
  display: none;
}

.GradientBottm {
  background-image: linear-gradient(180deg, #0f1014, #0f1014ae, transparent);
}
.GradientTop {
  background-image: 
    linear-gradient(0deg, #0f1014, #0f101475, #0f101431, transparent, transparent),
    linear-gradient(80deg, #0f1014, transparent, transparent, transparent);
}


.SubscribeGrad {
  background-image: 
    linear-gradient(0deg, #0f1014, #0f1014ac, transparent, transparent, transparent, transparent, transparent, transparent, transparent),
    linear-gradient(90deg, #0f1014ad,  transparent, transparent, transparent, transparent, transparent),
    linear-gradient(180deg, #0f1014, #0f1014ec, #0f101432, transparent, transparent, transparent, transparent, transparent),
    linear-gradient(270deg, #0f1014, #0f1014b4,  transparent, transparent);
}

.NetworkHeadGrad {
  background-image: linear-gradient(0deg, #0f1014, #0f10145c, transparent, transparent);
}


.Sub {
  height: 90vh;
  animation: animateBackground 10s linear infinite;
}

@keyframes animateBackground {
  from {
      background-position: 0 0%; /* start position */
  }
  to {
      background-position: 0 100%; /* end position (moves horizontally) */
  }
}



.NetworkHead {
  height: 50vh;
}


.GradHeder {
  background-image: linear-gradient(180deg, #0f1014, #0f1014ee, #0f1014d2, #0f1014a2, #0f101498, transparent);
}

.EpisodesGrad {
  background-image: linear-gradient(0deg, #0f1014, #0f1014ee, #0f1014d2, #0f1014bf, #0f101498, transparent);

}

.SCROLL::-webkit-scrollbar {
  display: none;
}





.ListTitle {
  span, .icon {
    left: -100px;
    position: relative;
    opacity: 0;
    transition: left 0.5s ease, opacity 0.5s ease;
  }

  &:hover {
    span, .icon {
      left: 0;
      opacity: 1;
    }
  }
}



.HeaderTran {
  transition: left 0.5s ease, opacity 0.5s ease;
}

.slide-up-element {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 0.5s ease-out;
}

.slide-up-element.visible {
  opacity: 1;
  transform: translateY(0); 
}




.Episode {
  img {
    border: 3px solid transparent;
  }

  &:hover {

    img {
      border-color:rgba(255, 255, 255, 0.836);
    }
  }
}




.SearchItem {
  .image {
    transition: all 200ms;
  }

  &:hover {
    .image {
      scale: 103%;
      transition: all 200ms;
    }
  }
}


